body {
    overflow-x: hidden;
}
pre {
    max-height: 325px;
}

/* From the passportjs.org website */
.masthead {
  /*padding:  0px 60px;*/
}

.masthead .logo {
  height: 38px;
  width: 210px;
}

.masthead h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.masthead h3 a {
  color: #333333;;
  text-decoration: none;
}

.masthead h3 a:hover {
  color: #333333;
  text-decoration: none;
}

.masthead li {
  margin-top: 15px;
}

.chart-space {
    width: 100%;
    height: 476px;
}
pre.code-tab {
    white-space: initial;
}
.charts-example {
  min-height: 825px;
}
.list-group {
  height: 904px;
  overflow-y: scroll;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.tablist {
  padding-left: 30px;
}
#charts-example {
  margin-top: 50px;
}

.h3-spacing {
  margin-top: 40px;
}