<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/react/react-with-addons.js"></script>
    <script type="text/javascript" src="../bower_components/react/JSXTransformer.js"></script>
    <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.theme.zune.js"></script>
    <script type="text/jsx" src="../bower_components/react-fusioncharts-plugin/react-fusioncharts.js"></script>
	<title>Building FusionCharts with React</title>
</head>
<body>
    <h2>Global Terrorism Dashboard</h2>
    <div id="gtd-dashboard-container"></div>

    <script type="text/jsx" src="../src/js/ex13.js"></script>
    <script type="text/jsx">
        $(document).ready(function () {
            var k = new GTDDashboard();
            k.execute();
        });
    </script>
</body>
</html>