<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/react/react-with-addons.js"></script>
        <script type="text/javascript" src="../bower_components/react/JSXTransformer.js"></script>
        <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.theme.ocean.js"></script>
        <script type="text/jsx" src="../bower_components/react-fusioncharts-plugin/react-fusioncharts.js"></script>
	<title>Building FusionCharts with React</title>
</head>
<body>
	<div style="text-align:center;" id="fc_react_app"></div>
        <p style="text-align:center;" style="margin-top:0px">The value that you have selected is: <span id="value">nothing</span></p>
	<script type="text/jsx" src="../src/js/ex6.js"></script>
</body>
</html>