<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/react/react-with-addons.js"></script>
        <script type="text/javascript" src="../bower_components/react/JSXTransformer.js"></script>
        <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="../bower_components/fusioncharts/fusioncharts.theme.ocean.js"></script>
        <script type="text/jsx" src="../bower_components/react-fusioncharts-plugin/react-fusioncharts.js"></script>

        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
	<title>Building FusionCharts with React</title>
</head>
<body>
	<div style="text-align:center;" id="fc_react_app"></div>
	<script type="text/jsx" src="../src/js/ex7.js"></script>
</body>
</html>